.focus-class{
  // background: $cloudy-gray;
  .focus-class-inner{
    width: 1160px; margin: auto;
    border: 1px solid #000;
    .focus-class-content{
      margin-bottom: 40px;
      .mySwiper02{
        .focus-class-items{
          .focus-class-item{
            cursor: pointer;
            .thumb{
              position: relative;
              width: 260px; height: 100%;
              img{
                height: inherit; width: inherit;
                object-fit: cover; border-radius: 5px;
              }
              .badge{
                position: absolute;
                bottom: 10px; right: 0;
                background: crimson; color: white;
                padding: 2px 10px; border-radius: 3px 0 0 3px; font-size: 12px;
              }
            }
            .overview{
              h4{}
            }
          }
        }
        .swiper-button-next,.swiper-button-prev{
          color:transparent;
          border: 1px solid #ffffff;
          background: #69b594;
          width: 50px; text-align: center; border-radius: 50%;
        } 
        .swiper-button-next::after{
          content: '\F135';
          font-family:'bootstrap-icons';
          color: rgb(255, 255, 255);
          font-size: 50px;
        }
        .swiper-button-prev::after{
          content: '\F12C';
          font-family:'bootstrap-icons';
          color: rgb(255, 255, 255);
          font-size: 50px;
        }
        .swiper-button-next{}
        .swiper-button-prev{}
      }
    }
  }
}


.front-slider{
  border: 1px solid #000;
  .front-slider-items{
    .front-slider-item{
      &:nth-child(1){background: rgb(255, 252, 234); }
      &:nth-child(2){   background: #69b594;}
      &:nth-child(3){ background: #f59965;}
      .front-slider-item-wrap{
        width: 1160px; height: 400px;
        margin: auto; display: flex; align-items: center; justify-content: space-between;
        .desc{
          width: 50%;
          b{font-size: 16px;/*  color: $crimson; */}
          h2{font-size: 34px; margin: 15px 0; }
          span{}
        }
        .pic{ border: 1px solid #000;
          img{width: 350px;}
        }
      }
    }
  }
}

/* tablet */
@media (min-width: 768px) and (max-width:1024px) {
  .front-slider{
    border: 1px solid #000;
    .front-slider-items{
      .front-slider-item{
        .front-slider-item-wrap{
          width: 100%; height:auto;
          flex-direction: column;
          .desc{
            width: 100%;
            text-align: center;
            b{font-size: 16px;}
            h2{font-size: 24px; margin: 15px 0; width: 50%; margin: auto;}
            span{}
          }
          .pic{ 
            width: 300px;
          }
        }
      }
    }
  }
}
@media (max-width:767px){
  .front-slider{
    border: 1px solid #000;
    .front-slider-items{
      .front-slider-item{
        .front-slider-item-wrap{
          width: 100%; height:auto;
          flex-direction: column;
          .desc{
            width: 100%;
            text-align: center;
            b{font-size: 16px;}
            h2{font-size: 20px; margin: 15px 0; width: 50%; margin: auto;}
            span{}
          }
          .pic{ 
            width: 300px;
            img{ }
          }
        }
      }
    }
  }
}